@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-bg-main: #10131a;
  --color-panel-bg: rgba(13, 17, 23, 0.85);
  --color-accent-primary: #00dbe7;
  --color-accent-secondary: #b600f8;
  --color-accent-warning: #ffb4ab;
  --color-text-dim: #8b949e;
  --color-text-bright: #e1e2eb;
  --color-border: #32353c;
  --color-primary: #e1fdff;
  --color-primary-container: #00f2ff;
  --color-secondary: #ebb2ff;
  --color-secondary-container: #b600f8;
  --color-tertiary-container: #34fc0d;
  --color-surface-container-low: #191c22;
  --color-surface-container-highest: #32353c;
  --color-surface-container-lowest: #0b0e14;
  --color-on-surface-variant: #b9cacb;
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-bright);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.mono-text {                
  font-family: 'Space Grotesk', monospace;
}

